/*Стили кнопки*/
/*.hamburger {*/
/*    !*position: relative;*!*/
/*    display: inline-block;*/
/*    vertical-align: middle;*/
/*    cursor: pointer;*/
/*    width: 60px;*/
/*    height: 50px;*/
/*    border: 1px solid #0E7318;*/
/*    background: #fff;*/
/*    padding: 5px;*/
/*    border-radius: 8px;*/

/*    position: fixed;*/
/*    top: 25px;*/
/*    right: 15px;*/
/*}*/

/*.btn__hamb {*/
/*    position: relative;*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 4px;*/
/*    background: #0E7318;*/
/*    cursor: pointer;*/
/*}*/

/*.btn__hamb div {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*}*/

/*.btn__hamb:before, .btn__hamb:after {*/
/*    content: "";*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    background: #0E7318;*/
/*}*/

/*.btn__hamb:before {*/
/*    top: -8px;*/
/*}*/

/*.btn__hamb:after {*/
/*    top: 8px;*/
/*}*/

/*Стили мобильного меню*/
/*.mobile-menu {*/
/*    display: none;*/
/*    !*position: fixed;*!*/
/*    top: 0;*/
/*    left: 0;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    z-index: 100;*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .mobile-menu {*/
/*        padding-top: 0;*/
/*    }*/
/*}*/

/*получпрозрачный фон*/
.mobile-menu .mm__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.8);
    z-index: 100;
}

/*Контейнер мобильного меню, именно он выезжает слева*/
.mobile-menu .mm__wrapper {
    /*visibility: hidden;*/
    display: block;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: all .4s ease-in-out;
    overflow-x: auto;
    /*position: absolute;*/
    /*width: 50%;*/
    /*height: 100%;*/
    z-index: 200;
    touch-action: auto;
    -ms-touch-action: auto;
    /*background: #fff;*/

    right: 0;
}

/*@media (max-width: 800px) {*/
/*@media (max-width: 760px) {*/
/*    .mobile-menu,*/
/*    .mm__wrapper {*/
/*        width: max-content;*/
/*        !*min-width: 250px;*!*/
/*        height: max-content;*/
/*        min-height: 40%;*/
/*    }*/
/*    .mobile-menu {*/
/*        padding-top: 0;*/
/*    }*/
/*}*/

/*@media (min-width: 1200px) {*/
/*    .mobile-menu .mm__wrapper {*/
/*        width: 25%;*/
/*    }*/
/*}*/

/*Стили логотипа в меню (опционально)*/
.mobile-menu .h__logo {
    padding-left: 40px;
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    line-height: 1.25;
    margin-left: 20px;
    margin-top: 15px;
}

/*Стили крестика закрытия меню*/
.mm__header .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    margin-top: 15px;
}

.close-btn {
    position: relative;
    width: 40px;
    height: 40px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
}

.close-btn:before {
    width: 2px;
    height: 18px;
    left: 8px;
    top: 0;
}

.close-btn:after {
    height: 2px;
    width: 18px;
    top: 8px;
    left: 0;
}

.close-btn:before, .close-btn:after {
    content: "";
    background: #000;
    position: absolute;
}

.close-btn--red:before, .close-btn--red:after {
    background: #000000;
}